*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    
    color: white;
}

body{
    padding-top: 84px;
    background-color: rgb(28, 25, 25);
}

.link-personagens{
    font-size: 30px;
    text-decoration: none;
    margin: 30px;
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    position: relative;
}

.link-mundo{
    font-size: 30px;
    text-decoration: none;
    margin: 30px;
    font-weight: 700;
    position: relative;
    top: 60px;
    right: 294px;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
}

.link-wattpad{
    position: relative;
    z-index: 2;
    left: 700px;
    bottom: 10px;
    text-decoration: none;
    font-size: 25px;
}

.imagem-capa{
    position: relative;
    z-index: -1;
    top: 500px
}
a:active{
    color: lightseagreen;
}

.link-home{
    font-size: 30px;
    text-decoration: none;
    margin: 30px;
    font-weight: 700;
    top: 10px;
    position: relative;
}

.introducao{
    font-size: 30px;
    margin: 25px;
    
}

.forts{
    position: relative;
    margin: 20px;
    font-size: 30px;
    top: 20px
}


.cabecalho{
    position: fixed;
    font-size: 45px;
    width: 100%;
    padding: 15px;
    top: 0;
    z-index: 1;
    background-color: rgb(28, 25, 25);
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: white;
}


.titulo{
    position: relative;
    left: 350px;
    top: 20px;
    font-size: 45px;
}

.person-imagem{
    position: relative;
    height: 300px;
    width: 300px;
    left: 20px;
}

.shakazi{
    position: relative;
    margin: 20px;
    font-size: 30px;
    top: 20px
}

.pinos{
    position: relative;
    margin: 20px;
    font-size: 30px;
    top: 20px
}

.urca{
    position: relative;
    margin: 20px;
    font-size: 30px;
    top: 20px
}

.zant{
    position: relative;
    margin: 20px;
    font-size: 30px;
    top: 20px
}


.descricao{
    display: inline-block;
    width: 700px;
    margin: 15px;
    font-size: 20px;
}
